/* COLORS.CSS 
 * Defining global color schemes
 ================================*/

:root {

  /* Background 
   ********************/
  /* --background: #354d75; */

  /* Primary Color
  *********************/
  --primary-color: lightgray;
  --secondary-color: gray;

  /* Text Palette
   ********************/
  /* --primary-text: #d42038;
  --secondary-text: #f3eed9; */

}
